.App {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 7% auto;
}

.carousel {
	max-width: 80vw;
	cursor: grab;
	overflow: hidden;
}

.inner-carousel {
	display: flex;
}

.item {
	min-height: 28rem;
	min-width: 25%;
	padding: 40px;
}

.item img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	pointer-events: none;
}
